body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;


}

input [type="text"], select, input[type=number], input[type=submit]{
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

#submit{
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;

}
#submit:hover{
    background-color: forestgreen;
    color: black;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

th{
    background-color: #4eaffd;
    color: white;
}