*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
}

.input{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.input button{
    padding: 10px;
    background-color: red;
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}

.input input{
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    width: 200px;

}
.weather-box{
    margin: 500px;
    margin-top: 50px;
    height: 500px;
    padding: 20px;
    border-radius: 5px;
}

.icon{
    font-size: 50px;
    margin-bottom: 20px;

}

.weather{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}