*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #98F5F9;
    font-family: 'Times New Roman', Times, serif;
}
.search-container{
    display: flex;
}
#search-input{
    width: 200px;
    padding: 5px;
    margin-right: 10px ;
}
  
#search-btn{
    padding: 5px 10px;
    background-color: #ff5733;
    border: none;
    color: white;
    cursor: pointer;
    
}
.category-container{
    display: flex;
}
.category-btn{
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #985c88;
    color: white;
    border: none;
    cursor: pointer;
}
.category-btn.active{
    background-color: orange;
}
.filter-container{
    display: flex;
    justify-content: space-between;
    margin: 2px;
   
}
  
.product-item{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
}
  
#prodcut-list{
    display: flex;
    padding: 20px;
    text-align: center;
}
  
