.slider-container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slides{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide{
    width: 100%;
    flex: 0 0 auto;
}

img{
    width: 100%;
    display: block;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    z-index: 1;
}

.prev{
    left: 0;
}

.next{
    right: 0;
}